body{
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin: 0;
}

a{
    all: unset;
    cursor: pointer;
}

button{
    all: unset;
    cursor: pointer;
}











.bg{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
}









/*Header*/

header>div{
    position: relative;
    z-index: 4;
    height: 100%;
}

header{
    z-index: 10;
    height: 75px;
    position: fixed;
    top: 0;
    width: 100%;
}

.opaque_effect{
    z-index: -1;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    position: absolute;
    width: 100%;
    height: 100%;
}

header .all_container_l>a{
    padding: 5px 10px;
    height: fit-content;
    margin-right: 10px;
}

header a.active{
    border-left: 1px solid white;
    background-color: #ababab63;
    -webkit-box-shadow: 1px 0px 5px 0px #abababad;
    -moz-box-shadow: 1px 0px 5px 0px #abababad;
    box-shadow: 1px 0px 5px 0px #abababad;
}

header a:hover{
    border-bottom: 1px solid white;
}

header h1{
    margin: 0px 30px;
}

.flex_cntr{
    display: flex;
    align-items: center;
}

.header_butt{
    height: 100%;
    background: #00000057;
    box-shadow: 4px 0px 5px 2px #00000057;
}


header .flex_organizer{
    justify-content: space-between;
}

header .flex_organizer .l{
    height: 100%;
    background: #00000057;
    box-shadow: 4px 0px 5px 2px #00000057;
}

header .flex_organizer .r{
    padding-right: 20px;
}

.map_cont{
    margin: 0px 30px;
    text-align: left;
    width: 116px;
}

.map_cont h1{
    font-size: 1.8em;
    margin: 0;
}

.map_cont p{
    margin: 0;
}

.bread_crumb_cont p{
    margin: 0 8px;
    user-select: none;
    font-size: 0.8em;
}

.bread_crumb_cont a{
    font-size: 0.8em;
    border-bottom: 1px solid transparent;
}

.flex{
    display: flex;
}

@media (prefers-color-scheme: dark) {
    .bg{
        filter:brightness(0.5);
    }

    header{
        border-bottom: white solid 1px;
    }

    body{
        background-color: #1B2838;
        color: #F3F3F3;
    }
}