<!DOCTYPE html>
<html>
<head>
	<title>calculators</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="../css/calc.css" >
	<link rel="stylesheet" type="text/css" href="../css/main.css" >
	<script src="../js/main.js"></script>




    <style>
        body{
            transition: all 0.5s;
        }

        .bg{
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -10;
        }

    </style>



</head>
<body>
	<img class="bg" src="../assets/farm.jpeg" >
	<header>
        <div class="flex_organizer flex_cntr" >
            <div class="opaque_effect"></div>
            <div class="l flex_cntr all_container_l" >
                <div class="map_cont" >
                    <h1>Name</h1>
                    <div class="bread_crumb_cont flex"  >
                        <a href="" >Home</a> 
                        <p>></p> 
                        <a href="" > Page</a>
                    </div>
                </div>
                <a href="" >Home</a>
                <a class="active" href="" >Page</a>
            </div>
            <div class="r" >
                <button id="dark-mode-toggle" onclick="change_color_status()">
                    <img id="display_signifier" alt="image" src="" >
                </button>   
            </div>
        </div>
    </header>







    


</body>
</html>